
.card {
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.cart {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  background-color: #f9f9f9;
}

.sticky-top {
  position: sticky;
  top: 20px; /* Adjust as necessary */
}

.cart-items {
  max-height: 700px; /* Set the maximum height for the cart */
  overflow-y: auto; /* Add vertical scroll when content exceeds max height */
  margin-bottom: 10px; /* Space below the scrollable area */
}

.cart-items .d-flex {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.cart-items .btn-sm {
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
}
