
<div>
    <br><br><br><br><br><br>
    <header class="masthead bg-white text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <img class="masthead-avatar mb-5" src="assets/images/IceCream.svg" alt="..." />
        </div>
    </header>
    
    <section class="page-section portfolio h-100">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Tienda</h2>
        </div>
    </section>
    
  </div>